<div class="header">
    <div>
        <div class="left_section vertical_center">

            <div>
                <div class="avatar">
                    <img src="https://picsum.photos/80/80?grayscale">
                </div>
            </div>

            <div>

                <div class="user_info_labels">

                    <div class="name_label">
                        <label id="nameLabel">
                            <span id="nameHolder">Name</span>
                            <span id="nameEditButton" class="edit_icon">
                                <i class="fas fa-pen"></i>
                            </span>
                        </label>
                    </div>

                    <div class="username_label">
                        <label>
                            <span class="username">
                                <a href="/profiles/username" class="a_ul">username</a>
                            </span>
                        </label>
                    </div>

                </div>

            </div>

        </div>

        <div class="right_section vertical_center">
            <a class="button" href="/logout">
                <span>Log out</span>
            </a>
        </div>
    </div>
</div>