<section class="site_navigation">
    <nav>
        <div>
            <h3>Navigate</h3>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}" class="a_ul">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('profiles') }}" class="a_ul">All users</a>
                </li>
                <li>
                    <a href="{{ url_for('categories') }}" class="a_ul">All categories</a>
                </li>
                <li>
                    <a href="{{ url_for('items') }}" class="a_ul">All items</a>
                </li>

                {% if USER %}

                    <li>
                        <a href="{{ url_for('me') }}" class="a_ul">Me</a>
                    </li>

                {% endif %}

            </ul>
        </div>

        {% if USER %}

            <div>
                <h3>Add</h3>
                <ul>
                    <li>
                        <a href="{{ url_for('addCategory', next=request.path) }}" class="a_ul">Add a new category</a>
                    </li>
                    <li>
                        <a href="{{ url_for('addItem', next=request.path) }}" class="a_ul">Add a new item</a>
                    </li>
                </ul>
            </div>

        {% endif %}

        {% if ALL_CATEGORIES %}

            <div>
                <h3>Categories</h3>
                <ul>

                    {% for category in ALL_CATEGORIES %}

                        <li>
                            <a href="{{ url_for('category', category_id=category.id) }}" class="a_ul">{{ category.name }}</a>
                        </li>

                    {% endfor %}

                </ul>
            </div>

        {% endif %}

    </nav>
</section>