<section class="site_navigation">
    <nav>
        <div>
            <h3>Navigate</h3>
            <ul>
                <li>
                    <a href="/home" class="a_ul">Home</a>
                </li>
                <li>
                    <a href="/profiles" class="a_ul">All users</a>
                </li>
                <li>
                    <a href="/categories" class="a_ul">All categories</a>
                </li>
                <li>
                    <a href="/items" class="a_ul">All items</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Categories</h3>
            <ul>
                <li>Item is placed here</li>
                <li>Item is placed here</li>
                <li>Item is placed here</li>
                <li>Item is placed here</li>
                <li>Item is placed here</li>
            </ul>
        </div>
    </nav>
</section>